<div ng-controller='sessionController'>
  <nav>
    Bucket List
    <a href="#/dashboard">Home</a>
    <a href="/logout">Logout</a>
  </nav>
    <h1>Welcome, {{session_user}}!</h1>
</div>
<div ng-controller="bucketController">
  {{error}}
    <form ng-submit="addBucket()">
      <input type="text" placeholder="Title" ng-model="newBucket.title">
      <input type="text" placeholder="Description" ng-model="newBucket.description">
      <select ng-model="newBucket.tagged">
        <option ng-repeat="user in users" value={{user._id}}>{{user.name}}</option>
      </select>
      <input type="submit"  value="Add to List">
    </form>
  <div>
    <h3>Before I die I want to.</h3>
    <ul>
      <li ng-repeat='bucket in buckets'><input type="checkbox" ng-model="bucket.checked" ng-change="check(bucket._id)"> {{bucket._user.name}} | {{bucket.title}} - {{bucket.description}}  {{bucket.createdAt|date: 'MMM dd y'}}</li>
    </ul>
  </div>
  <div>
    <h3>List of other users (Click to view profile):</h3>
    <ul>
      <li ng-repeat="user in users"><a href="#/show/{{user._id}}">{{user.name}}</a></li>
    </ul>
  </div>

</div>
